includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
        - tests
    level: 5
    ignoreErrors:
        - '#Undefined variable: \$this#'
